@import "../../scss/variable";
@import "../../scss/mixin";
.g-map {
  background-color: rgba($black1, 0.95);
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: all 0.35s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: 99999;
  &.opened {
    opacity: 1;
    visibility: visible;
  }
  &__close {
    border: 1px solid $white;
    border-radius: $radius;
    color: $white;
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: 300;
    height: 35px;
    padding: 10px 45px 10px 20px;
    position: absolute;
    right: 15px;
    top: -30px;
    transition: all 0.15s ease-in-out;
    &:before {
      content: "";
      background-image: url('~@/assets/images/icons/icon-close@2x.png');
      background-size: contain;
      background-position: top right;
      background-repeat: no-repeat;
      height: 15px;
      position: absolute;
      right: 15px;
      top: 9px;
      width: 15px;
    }
    &:hover {
      border-color: $green1-hover;
      color: $green1-hover;
    }
  }
  &__inner {
    left: 50%;
    height: 100%;
    max-height: 350px;
    max-width: 950px;
    padding: $global-space;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    @include media-up(md) {
      max-height: 550px;
    }
    .vue-map-container {
      border: 10px solid $white;
      border-radius: $radius;
      box-shadow: 0 2px 4px rgba($black1, 0.3);
      height: 100%;
      padding: $global-space/2;
      width: 100%;
    }
  }
}
