@import "../../../scss/variable";
.filter {
    padding-bottom: 0.5rem;
    padding-top: 2rem;
    &__left {
        &:after {
            clear: both;
            content: "";
            display: block;
        }
        .selectbox {
            float: left;
            margin-right: $global-space;
            max-width: 168px;
            width: 100%;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__right {
        float: right;
        .filter-sort {
            float: left;
            margin-right: $global-space;
            .label {
                float: left;
                line-height: 40px;
                margin-right: $global-space;
            }
            .selectbox {
                float: left;
                width: 200px;
            }
        }
        .button {
            background-color: transparent;
            border: 1px solid $green2;
            color: $green2;
            float: left;
            font-size: 1rem;
            font-weight: 300;
            height: 40px;
            padding-left: 40px;
            padding-right: 30px;
            position: relative;
            &:hover {
                background-color: $green1;
                color: $white;
            }
            &:before {
                content: "";
                background-image: url("~@/assets/images/icons/map@2x.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 18px;
                left: 15px;
                position: absolute;
                height: 18px;
                width: 18px;
            }
        }
    }
    .selectbox {
        height: 40px;
    }
}