@import "../../../scss/variable";
@import "../../../scss/mixin";
.filter {
    padding-bottom: 0.5rem;
    padding-top: 2rem;
    &__left {
        &:after {
            clear: both;
            content: "";
            display: block;
        }
        .selectbox {
            float: left;
            margin-right: $global-space;
            max-width: 125px;
            width: 100%;
            @include media-up(lg) {
                max-width: 168px;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__right {
        float: right;
        .filter-sort {
            float: left;
            margin-right: $global-space;
            .label {
                display: none;
                float: left;
                line-height: 40px;
                margin-right: $global-space;
                @include media-up(lg) {
                    display: inline-block;
                }
            }
        }
        .button {
            background-color: transparent;
            border: 1px solid $green2;
            color: $green2;
            float: left;
            font-size: 1rem;
            font-weight: 300;
            height: 40px;
            padding-left: 40px;
            padding-right: 30px;
            position: relative;
            &:hover {
                background-color: $green1;
                color: $white;
            }
            &:before {
                content: "";
                background-image: url("~@/assets/images/icons/map@2x.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 18px;
                left: 15px;
                position: absolute;
                height: 18px;
                width: 18px;
            }
        }
        .selectbox {
            float: left;
            width: 200px;
            &__label {
                vertical-align: middle;
            }
            .dropdown__button {
                &.selected {
                    .bullet {
                        border-color: $black1-hover2;
                        &:before {
                            background-color: $black1-hover2;
                        }
                    }
                }
            }
            .bullet {
                border: 2px solid $grey5;
                border-radius: 18px;
                display: inline-block;
                height: 18px;
                margin-right: 0.6rem;
                position: relative;
                transition: all 0.15s ease-in-out;
                vertical-align: middle;
                width: 18px;
                &:before {
                    content: "";
                    border-radius: 10px;
                    height: 10px;
                    left: 50%;
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    transition: all 0.15s ease-in-out;
                    width: 10px;
                }
            }
        }
    }
    .selectbox {
        height: 40px;
        &.opened {
            .selectbox__select {
                border-color: $black1-hover2;
                color: $black1;
            }
        }
        &__select {
            color: $grey3;
            font-weight: 400;
            padding-bottom: 10px;
            padding-top: 10px;
        }
    }
}