// Responsive
$prefix: col;
$gutter-width: 32px;
$max-col: 12;
$container-xxl-width: 1440px;
$container-xl-width: 1200px;
$container-lg-width: 992px;
$container-md-width: 768px;
$container-sm-width: 480px;
