@import "../../../scss/variable";
.nav {
    &__item {
        color: $black1;
        margin-right: 3rem;
        position: relative;
        text-decoration: none;
        &:last-child {
            margin-right: 0;
        }
        &:before {
            content: "";
            background-color: $black1-hover;
            bottom: -2px;
            height: 1px;
            left: 0;
            position: absolute;
            width: 0;
            transition: width 0.2s ease-in-out;
        }
        &:hover {
            color: $black1-hover;
            &:before {
                width: 100%;
            }
        }
    }
}