$black: #000000;
$black1: #374044;
$black1-hover: #666666;
$green1: #006272;
$green1-hover: #0C8DA2;
$grey1: #F4F4F4;
$grey2: #DDDDDD;
$grey3: #8E9497;
$white: #FFFFFF;

$global-space: 16px;
$radius: 4px;