$black: #000000;
$black1: #374044;
$black1-hover: #666666;
$black1-hover2: #2DCCD3;
$green1: #006272;
$green1-hover: #0C8DA2;
$green2: #6BA4B8;
$grey1: #F4F4F4;
$grey2: #DDDDDD;
$grey3: #8E9497;
$grey4: #D8D8D8;
$grey5: #CCCCCC;
$white: #FFFFFF;

$global-space: 16px;
$radius: 4px;